In [10]:
import pandas as pd
import numpy as np
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')
data= pd.read_csv("C:/Users/trinity/Desktop/sonar.txt")
data.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V52,V53,V54,V55,V56,V57,V58,V59,V60,Class
0,1,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,3,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,4,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,5,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [5]:
print(data.shape)

(208, 62)

In [7]:
X= data.drop("Class",1)
data["Class"]=data["Class"].astype("category")
y= data["Class"]

In [8]:
from sklearn.model_selection import cross_val_score,train_test_split
def classify(model,X,y):
     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
    #train model
     model.fit(X_train,y_train)
     print("Accuracy: ",model.score(X_test,y_test)*100)
    
    #cross validation
     score= cross_val_score(model, X, y, cv=5)
     print("cross_validation: ", np.mean(score)*100)

In [11]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
classify(model,X,y)

Accuracy:  97.61904761904762
cross_validation:  89.88385598141694